<!DOCTYPE html>
<html>
    <!--  #666666         -->
    <!-- 
https://static.nid.naver.com/images/ui/login/pc_sp_login_170424.png
-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BRACKETS 으로 시작하기</title>
        <meta name="description" content="Brackets에 대한 대화식 시작 안내서입니다.">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <!-------------------------->
       <!-- <table border=0 width="25%" style="margin:3%;">
            <tr><td width="20%" style="padding:5%;"><img src="a.gif" width="100%"></td>
            <td width="80%" >
                <span class="input_box">
							<input type="text" id="id" name="id" accesskey="L" placeholder="   " class="int" maxlength="41" value="" size="30%" style="padding-top  :2%; padding-bottom: 2%;">
						</span>
                </td></tr>
            <tr><td width="20%" style="padding:5%;"><img src="b.gif" width="110%"></td>
            <td>
             <span class="input_box">
							<input type="text" id="id" name="id" accesskey="L" placeholder="   " class="int" maxlength="41" value="" size="30%" style="padding-top  :2%; padding-bottom: 2%;">
						</span>

            </td></tr>
        <tr><td></td>
            <td><img src="4.PNG" width="56%"></td></tr></table>  -->
        <!-------------------------->

                <form method=post action="/template_insert_attack/{{id}}/{{no}}"><center><table border=0>
            <tr><td colspan=5 width="80%">
                <center><img src="https://preview.ibb.co/ccZMiA/1.png" alt="1" border="0" width="1400"></center>
                <!--<img src="1.PNG">--></td></tr>
      <tr><td rowspan=2 width="58%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <center><img src="https://image.ibb.co/ccb1iA/2.png" alt="2" border="0">
              <!-- <img src="2.PNG">--></center></td>
            <td rowspan=2 width="55%">
                
                  <!-------------------------->
                <center>
        <table border=0 width="70%" style="margin:3%;">
            <tr><td width="20" style="padding:1%;">
                <img src="https://preview.ibb.co/cJxXOA/a.gif" alt="a" border="0" width="45">
                <!--<img src="a.gif" width="100%">--></td>
            <td width="80" >
                <span class="input_box">
							<input type="text" id="id" name="id" accesskey="L" placeholder="" class="int" maxlength="41" value="" size="30%" style="padding-top  :2%; padding-bottom: 2%;">
						</span>
                </td></tr>
            <tr><td width="20%" style="padding:1%;">
                <img src="https://preview.ibb.co/hDCtVq/b.gif" alt="b" border="0" width="55">
                <!--<img src="b.gif" width="110%">--></td>
            <td>
             <span class="input_box">
							<input type="text" id="id" name="id" accesskey="L" placeholder="   " class="int" maxlength="41" value="" size="30%" style="padding-top  :2%; padding-bottom: 2%;">
						</span>

            </td></tr>
        <tr><td></td>
            <td><a href=#>
              <img src="https://image.ibb.co/iMFiwV/4.png" alt="4" border="0" onClick="window.location.href='/template_insert_attack/{{id}}/{{no}}'" width="243" height="45%"></a>
                <!--<img src="4.PNG" width="40%" onClick="alert('정보를 입력하셨습니다.')">--></td></tr></table>
                </center>
        <!-------------------------->
                
          </td>
            
            <td rowspan=2><center>
                <img src="https://image.ibb.co/kEaSOA/3.png" alt="3" border="0">
                <!--<img src="3.PNG">--></center></td></tr>
           
        </table>
        
                    </center></form>


    </body>
</html>
